* {
	display: block;
}

etatcivil {
	border: 5px ridge grey;
	margin: 5px;
	padding: 5px;
	width: 25%;
	background-color: #E2E2E2;
}

mail {
	text-decoration: underline;
}
nom, prenom, n_rue, nomvoie, code_postal, ville {
	display: inline;
}

h1_formation, h1_competences, h1_xp, h1_loisirs{	
	font-size: 22px;
	text-decoration: underline;
	margin: 20px 0 10px 40px;
}

formation {
	border: 5px ridge grey;
	margin: 5px;
	padding: 5px;
	background-color: #E2E2E2;
	width: 30%;
}

xp {
	border: 5px ridge grey;
	margin: 5px;
	padding: 5px;
	background-color: #E2E2E2;
	width: 30%;
}

competences {
	border: 5px ridge grey;
	margin: 5px;
	padding: 5px;
	background-color: #E2E2E2;
	width: 30%;
}

loisirs {
	border: 5px ridge grey;
	margin: 5px;
	padding: 5px;
	background-color: #E2E2E2;
	width: 30%;
}
