body {
	background-color: #7FA437;
	height: 1200px;
}

div {
	margin: auto;
	padding: 5px;
}

.left {
	background-color: #A8BD80;
	float: left;
	width: 20%;
	clear: both;
	margin: 5px;
	height: 250px;
}

.center {
	background-color: #5C8A00;
	clear: both;
	margin: 5px 5px 5px 400px;
	width: 50%
}

h1 {
	text-align: center;
}
