body {
	height: 1150px;
	margin: 0;
	background-color: #7FA437;
}

h1 {
        text-align: center;
}

div {
	margin: auto;
	border-radius: 1em;
	padding: 5px;
}

.sidebar {
	background-color: #A8BD80;
	float: left;
	width: 20%;
	clear: both;
	margin: 5px;
	height: 250px;
}

.section {
	background-color: #5C8A00;
	clear: both;
	margin: 5px 5px 5px 400px;
	width: 50%;
	padding-bottom: 15px; 
}

.section-titre {
	text-decoration: underline;
}

.header {
	font-size: 1.1em;
	padding-top: 15px;
}

.footer {
}
